<div class="sixteen columns clearfix">
  <h1 class="page_title">
    {{ page.title }}
  </h1>
</div>

<div class="clearfix">
  {% include 'sidebar' %}
  <div class="thirteen columns page omega">
    <div class="section clearfix">  
      {{ page.content }}
    </div>
  </div>
</div>